@import "tailwindcss";

:root {
  --background: #fdfbf7;
  --foreground: #3d405b;
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}
